.centered {
    display: flex;
    justify-content: center;
}

.background-image {
    background-image: url(img/clouds.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainbanner {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
}

.promotext {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.ethscanlogo {
    vertical-align: initial !important;
    width: 34px !important;
}

.buybutton {
    background: #1BE2C7;
    border-radius: 30px;
    border: 3px solid #1BE2C7;
    color: #000 !important;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    font-size: 24px;
}

.buybutton:hover {
    color: #fdec6e !important;
    text-shadow: 0px 0px 30px #fdec6e !important;
    -moz-transition: all 0.2s ease-in !important;
    -o-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in !important;
    transition: all 0.2s ease-in !important;
    background: #1BE2C7;
}